header,
main {
  background-color: var(--bg-color);
}

header {
  padding: 1rem 1rem 1.5rem;
}

@media screen and (min-width: 769px) {
  header {
    padding: 1rem 1rem 2.25rem;
  }
}

@media screen and (min-width: 930px) {
  header {
    padding: 1rem 1rem 2.5rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 930px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1130px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1330px) {
  .container {
    max-width: 1300px;
  }
}

h2 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 30vw;
  margin: 0;
  padding: 0.75rem 1rem;
  line-height: 0.8;
}

@media screen and (min-width: 930px) {
  h2 {
    font-size: 15.25rem;
  }
}

@media screen and (min-width: 1130px) {
  h2 {
    font-size: 18rem;
  }
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.15;
  font-family: var(--heading-font);
  font-weight: 400;
}

h4 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.15;
  font-family: var(--heading-font);
  font-weight: 400;
}

p {
  font-family: var(--normal-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}

p:not(:first-child) {
  margin-top: 1rem;
}

strong {
  font-family: var(--heading-font);
  font-size: 1.2rem;
}

strong span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: left;
  padding: 0.4em 0.45em;
  font-size: 3.25rem;
  min-width: 5.5rem;
  min-height: 6rem;
  margin: 0 0.2em 0.075em 0;
  border: 2px solid var(--fg-color);
  line-height: 0.75;
}

.contact {
  position: relative;
  padding: 6rem 0 3rem;
}

@media screen and (min-width: 769px) {
  .contact {
    padding: 12rem 0 7rem;
  }
}

.paper-tear {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 10rem;
  pointer-events: none;
  filter: drop-shadow(rgba(21, 20, 15, 0.2) 0.06em 0.06em 0.06em);
}
