@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --bg-color: #f5e4bc;
  --fg-color: #292823;
  --accent-color: #f2dba6;
  --accent-color-dark: #ecc979;
  --normal-font: "Cormorant Garamond", serif;
  --heading-font: "Bluu Next", serif;
  --detail-font: "Bluu", serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 17px;
  color: var(--fg-color);
}

body {
  line-height: 1.45;
}

@media screen and (min-width: 930px) {
  html {
    font-size: 19px;
  }
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--fg-color);
}
